// This file is for global styles. Each component can also define its
// own local styles.

// Customize Bulma variables in the _variables.scss file
@use "./variables.scss";

// Replace Bulma with Bootstrap or whatever you want.
@use "~bulma/bulma.sass";

// Use whatever fonts you want. Fira Code will use font ligatures. If
// you don't want that, change the text "Fira+Code" to "Source Code Pro"
// on the next line and they will go away.
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Fira+Code&display=swap");

// These can probably be set with Bulma variables.
// body {
//     font-family: "Open Sans", Helvetica. sans-serif;
// }

code,
code[class*="language-"],
pre[class*="language-"] {
    font-family: "Fira Code", "Source Code Pro", monospace;
}

// overrides to fix Bulma from breaking PrismJS code highlighting if you
// use numbers or tags within a code block.
.content .tag,
.content .number {
    display: inline;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-radius: inherit;
    font-weight: inherit;
    white-space: inherit;
    background: inherit;
    margin: inherit;
}

.blog-list {
    h2.title {
        margin-bottom: 0.1em;
    }

    .metadata {
        margin-bottom: 17px;
        color: #777;
    }

    article {
        margin-bottom: 27px;
    }
}

.blog-post {
    h1 {
        margin-bottom: 0.1em;
    }

    .metadata {
        margin-bottom: 17px;
        color: #777;
    }
}

.blog-post-nav {
    ul {
        list-style: none;
    }
}
